* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}
$colorb: #0069FF;
$b2: #5299FF;
$colorg: #fafafa;
$colorbl: #101010;
$colortxt: #a1a1a1;
$fsize2: 0.875rem;
$fsize3: 0.75rem;
.main-con {
  
  .fluids {
    
    .imag-box{
      width: 50%;
      margin: 0 auto; 
      margin-top: 200px;
  }
    }
  
}
