* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #fafafa!important;
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4%;
  padding-left: 2%;
  height: 35px;
  padding-top: 20px;
  // margin-top: 20px;

  .logo {
   margin: 0;
   padding: 0;
   margin-left: 120px;
  }
  nav {
    

    ul {
      position: relative;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;

      .hamburger-menu {
        margin-right: 1rem;

        .hamburger-wrapper {
          display: none;
          width: 30px;
          overflow: hidden;
          cursor: pointer;

          .menu-1 {
            height: 3.5px;
            background-color: rgb(44, 44, 44);
            margin: 3px 0rem;
          }
        }
      }

      .menu-container {
        display: flex;
        align-items: center;
        
      }

      .login-credentials {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      li {
        margin-right: 20px;
        
        a {
          
          text-decoration: none;
          color: black;
        }
      }
      li:last-child{
        margin-right: 0;
      }
      .bar {
        border-right: 1px solid black;
        height: 21px;
        margin-right: 20px;
      }
      a:hover {
        text-decoration: underline #3056F5 3px;
        text-underline-offset: 5px;
      }
    }
    .dropbtn {
      background-color: #3056F5;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 5px;
      width: 120px;
      height: 35px;
    }

    .dropdown {
      position: relative;
      margin-left: 20px;
      margin-right: 20px;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffffff;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown:hover .dropbtn {
      background-color: #000000;
    }
  }
}


@media screen and (max-width: 1415px) {
  .top-nav {
    margin: 0px;
    .logo {
      margin-right: 50px;
    }
    nav {
      ul {
        .dropbtn {
          width: 100px;
        }
      }
    }
  }
}
@media screen and (max-width: 410px) {
  .top-nav {
    margin: 0px;
    .logo {
      margin-right: 10px;
    }
    nav {
      ul {
        .dropbtn {
          width: 100px;
        }
      }
    }
  }
}
//Media-query for hamburger display
@media screen and (max-width: 1000px) {
  .top-nav {
    .logo {
      margin-left: 5px;
    }
    nav {
      ul {
        .hamburger-menu {
          position: relative;
          .hamburger-wrapper {
            display: block;
          }

          .menu-container {
            visibility: hidden;
            pointer-events: none;
            background-color: rgb(235, 232, 232);
            width: 200px;
            position: absolute;
            top: 150%;
            left: -280%;
            display: flex;
            align-items: center;
            flex-direction: column;

            li {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .menu-hidden {
                margin-top: 1rem;
              }

              .menu-hidden:last-child {
                margin-bottom: 1rem;
              }
            }
          }

          .display {
            visibility: visible;
            pointer-events: all;
          }
        }
      }
    }
  }
}

.forg-box {
  // margin-top: 272px;
  // margin-left: 483px;
  // margin-right: 482px;
  margin: 0 auto;
  height: 342px;
  width: 475px;

  h1 {
    margin-top: 10rem;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color:  #333131;
    margin-bottom: 14px;
  }
  p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color:  #414141;
    margin-bottom: 48px;
  }
  form {
    .input-icons6 {
      margin-bottom: 30px;
      background-color: white;
      i {
        position: absolute;
      }
      .icon {
        padding: 18px;
        color: black;
        min-width: 50px;
        text-align: center;
      }
      .input-field6 {
        width: 475px;
        height: 52px;
        padding: 24px;
        padding-left: 42px;
        border: none;
        border-radius: 4px;
        padding-bottom: 22px;
        background-color: white;
      }
    }
  }
}
.send-r-link {
  
  button {
    width: 475px;
    height: 48px;
    border-radius: 4px;
    background-color: #3056f5;
    color: white;
    border: none;
    cursor: pointer;
  
  }
}
@media screen and (max-width: 900px) {
  .forg-box {
    
    width: 60%;
    form {
      .input-icons6 {
        .input-field6 {
          width: 80%;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .forg-box {
   
    width: 80%;
    form {
      .input-icons6 {
        .input-field6 {
          width: 80%;
        }
      }
    }
  }
}
