*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
h1{
    margin: 2rem;
}
.messages {
    position: relative;
    margin: 2rem;
    .the-text {
      width: 39%;
      height: 2.875rem;
      padding: 0.313rem;
      background: rgba(41, 191, 18, 0.03);
      border: 1px solid #29BF12!important;
      border-radius: 4px;
    }
    .the-text:focus{
        outline:#29BF12;
    }
    label{
        color: #414141;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.625rem;
    }
    
    .m-icon {
        position: absolute;
        right: 65%;
        top: 45%;
        transform: translateY(-40%);
        color: #29BF12;
        min-width: 50px;
        text-align: center;
      }
      p{
          font-size: 0.875rem;
          color: #29BF12;
          font-weight: 500;
          margin-top: 0.5rem;
      }
  }

  .msg2{
      .the-text{
          border: 1px solid  #F43460;
          background: rgba(244, 52, 96, 0.03);
      }
      .the-text:focus{
          outline:#F43460;;
      }
      .m-icon{
          color: #F43460;
      }
      p{
        color: #F43460;
      }
  }
  .icon-message{
      display: flex;
      width: 35.125rem;
      margin: 2rem;
      height: 3.75rem;
      border-radius: 0.313rem;
      border: 0.063rem solid #F43460;
      border-left: 0.40rem solid #F43460;
      background-color: white;
      i{
          font-size: 1.875rem;
          margin: 0.938rem 0.625rem 0.938rem 1.563rem;
          color: #F43460;
      }
      .erp{
          margin: 0.625rem 0rem;
          p{
              color:  #A1A1A1;
              font-size: 14px;
              font-weight: 400;
          }
      }
  }
  
      .im2{
        border: 0.063rem solid #29BF12;
        border-left: 0.40rem solid #29BF12;
        i{
            color: #29BF12; 
          }
      }
      
  