*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
h1{
    margin: 2rem;
}
.messages {
    position: relative;
    margin: 2rem;
    .the-text {
      width: 39%;
      height: 2.875rem;
      padding: 0.313rem;
      background: rgba(41, 191, 18, 0.03);
      border: 1px solid #29BF12;
      border-radius: 4px;
    }
    .the-text:focus{
        outline:#29BF12;
    }
    label{
        color: #414141;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0.625rem;
    }
    
    .m-icon {
        position: absolute;
        right: 60.5%;
        top: 45%;
        transform: translateY(-40%);
        color: #29BF12;
        min-width: 50px;
        text-align: center;
      }
      p{
          font-size: 0.875rem;
          color: #29BF12;
          font-weight: 500;
          margin-top: 0.5rem;
      }
  }

  .msg2{
      .the-text{
          border: 1px solid  #F43460;
          background: rgba(244, 52, 96, 0.03);
      }
      .the-text:focus{
          outline:#F43460;;
      }
      .m-icon{
          color: #F43460;
      }
      p{
        color: #F43460;
      }
  }
  .icon-message{
    display: flex;
    width: 450px;
    height: 60px;
    margin: 32px;
    border-radius: 0.313rem;
    border: 0.063rem solid #F43460;
    border-left: 0.40rem solid #F43460;
    background-color: white;
    i{
        font-size: 30px;
        margin: 15px 10px 15px 25px;
        color: #F43460;
        justify-content: center;
    }
    .erp{
        margin: 10px  0px;
        padding: 0;
        height: 40px;
        h4{
          font-size: 18px;
          font-weight: 400;
          margin: 0;
          padding: 0;
        }
        p{
            color:  #A1A1A1;
            font-size: 14px;
            font-weight: 400;
        }
    }
}
  
      .im2{
        border: 0.063rem solid #29BF12;
        border-left: 0.40rem solid #29BF12;
        i{
            color: #29BF12; 
          }
      }
      
  