* {
  margin: 0rem;
  padding: 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.circle {
  cursor: pointer;
  padding: 6px;
}

.circle:hover {
  border-radius: 50%;
  background-color: #E9EBEF;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.main-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  background-color: #fafafa;
  width: 100%;
}

.main-con .vertical-nav {
  width: 202px;
  height: 1029px;
  background: transparent;
  background-color: white;
  border-right: 1px solid #E9EBEF;
}

.main-con .vertical-nav .logo img {
  width: 117px;
  height: 29px;
  margin: 20px 63px 20px 22px;
}

.main-con .vertical-nav .main-menu h1 {
  font-weight: 600;
  font-size: 14px;
  margin: 0px 105px 10px 22px;
  width: 75px;
  height: 18px;
}

.main-con .vertical-nav .main-menu nav {
  width: 202px;
  height: 200px;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu {
  margin-right: 1rem;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .hamburger-wrapper {
  visibility: hidden;
  pointer-events: none;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
  display: none;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .hamburger-wrapper .menu-1 {
  height: 3.5px;
  background-color: #2c2c2c;
  margin: 3px 0rem;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .menu-container {
  visibility: visible;
  pointer-events: all;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .menu-container li {
  list-style: none;
  height: 40px;
  width: 182px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 22px;
  border-radius: 0px 19px 19px 0px;
  border: none;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .menu-container li i {
  width: 16px;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .menu-container li a {
  text-decoration: none;
  color: #414141;
  font-weight: 400;
  margin-left: 17px;
  font-size: 16px;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .menu-container .active {
  background-color: #0069FF;
  color: white;
}

.main-con .vertical-nav .main-menu nav .hamburger-menu .menu-container .active a {
  color: white;
}

.main-con .vertical-nav .main-menu h2 {
  margin-top: 65px;
  margin-left: 22px;
  font-weight: 600;
  color: #414141;
  font-size: 14px;
}

.main-con .vertical-nav .main-menu .single .new {
  padding-left: 22px;
  list-style: none;
}

.main-con .vertical-nav .main-menu .single .new a {
  text-decoration: none;
  color: #414141;
  font-weight: 400;
  font-size: 16px;
  padding-left: 15px;
}

.main-con .vertical-nav .main-menu .appointment {
  width: 160px;
  height: 100px;
  margin: 20.5px 20px 0px 22px;
}

.main-con .vertical-nav .main-menu .appointment h3 {
  font-size: 12px;
  color: #414141;
  font-weight: 700;
}

.main-con .vertical-nav .main-menu .appointment #copy {
  font-size: 12px;
  font-weight: 400;
  color: #a1a1a1;
  margin-top: 4px;
  margin-bottom: 14px;
}

.main-con .vertical-nav .main-menu .appointment #heart {
  font-size: 12px;
  font-weight: 400;
  color: #a1a1a1;
}

.main-con .vertical-nav .main-menu .appointment #heart i {
  color: #F43460;
}

.main-con .welcome-section {
  height: 1024px;
  width: 260px;
  background: transparent;
  background-color: white;
}

.main-con .welcome-section #wel {
  margin: 70px 165px 11px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #a1a1a1;
}

.main-con .welcome-section h1 {
  margin: 11px 40px 5px 20px;
  font-size: 20px;
  font-weight: 300;
  width: 200px;
  height: 24px;
  color: #414141;
}

.main-con .welcome-section .doc-box h6 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #101010;
  margin-bottom: 10px;
}

.main-con .welcome-section .doc-box .dentists-details {
  width: 95%;
  height: 60px;
  border-radius: 0px 30px 30px 0px;
  border: none;
  margin-bottom: 2px;
}

.main-con .welcome-section .doc-box .dentists-details .circular-img {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.main-con .welcome-section .doc-box .dentists-details .bodyp {
  margin-top: 10px;
  margin-bottom: 12px;
}

.main-con .welcome-section .doc-box .dentists-details .bodyp a {
  font-size: 16px;
  font-weight: 500;
  color: #101010;
}

.main-con .welcome-section .doc-box .dentists-details .bodyp p {
  font-size: 12px;
  font-weight: 400;
  color: #a1a1a1;
}

.main-con .welcome-section .doc-box .active-dent {
  background-color: #E6F5E4;
}

.main-con .welcome-section h2 {
  margin: 5px 112px 10px 20px;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 400;
  width: 128px;
  height: 15px;
}

.main-con .welcome-section h3 {
  margin: 10px 84.5px 31px 20.5px;
  color: #0069FF;
  height: 15px;
  width: 155px;
  font-weight: 500;
  font-size: 12px;
}

.main-con .welcome-section h3 i {
  height: 8px;
  width: 7px;
  color: #0069ff;
  fill: none;
  margin-right: 10.5px;
}

.main-con .welcome-section #daily {
  margin: 31px 92px 9px 20px;
  font-weight: 600;
  color: #101010;
  font-size: 14px;
  width: 148px;
  height: 18px;
}

.main-con .welcome-section #insight {
  width: 220px;
  height: 28px;
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin: 9px 20px 20px 20px;
  color: #a1a1a1;
}

.main-con .welcome-section .bar-graph {
  margin: 20px 23px 3px 20px;
  width: 217px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-con .welcome-section .bar-graph .line {
  width: 6px;
  height: 55px;
  background-color: #E9EBEF;
  border: none;
  border-radius: 3px;
  position: relative;
}

.main-con .welcome-section .bar-graph .line p {
  display: none;
}

.main-con .welcome-section .bar-graph .line1::after, .main-con .welcome-section .bar-graph .line2::after, .main-con .welcome-section .bar-graph .line3::after, .main-con .welcome-section .bar-graph .line4::after, .main-con .welcome-section .bar-graph .line5::after, .main-con .welcome-section .bar-graph .line6::after, .main-con .welcome-section .bar-graph .line7::after, .main-con .welcome-section .bar-graph .line8::after, .main-con .welcome-section .bar-graph .line9::after, .main-con .welcome-section .bar-graph .line10::after, .main-con .welcome-section .bar-graph .line11::after, .main-con .welcome-section .bar-graph .line12::after, .main-con .welcome-section .bar-graph .line13::after, .main-con .welcome-section .bar-graph .line14::after, .main-con .welcome-section .bar-graph .line15::after {
  content: " ";
  height: 30%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #29bf12;
  border-radius: 3px;
}

.main-con .welcome-section .bar-graph .line2::after {
  height: 80%;
}

.main-con .welcome-section .bar-graph .line3::after {
  height: 10%;
}

.main-con .welcome-section .bar-graph .line4::after {
  height: 20%;
}

.main-con .welcome-section .bar-graph .line5::after {
  height: 50%;
}

.main-con .welcome-section .bar-graph .line6::after {
  height: 35%;
}

.main-con .welcome-section .bar-graph .line7::after {
  height: 21%;
}

.main-con .welcome-section .bar-graph .line8::after {
  height: 62%;
}

.main-con .welcome-section .bar-graph .line9::after {
  height: 55%;
}

.main-con .welcome-section .bar-graph .line10::after {
  height: 40%;
}

.main-con .welcome-section .bar-graph .line11::after {
  height: 52%;
}

.main-con .welcome-section .bar-graph .line12::after {
  height: 49%;
}

.main-con .welcome-section .bar-graph .line13::after {
  height: 28%;
}

.main-con .welcome-section .bar-graph .line14::after {
  height: 24%;
}

.main-con .welcome-section .bar-graph .line15::after {
  height: 85%;
}

.main-con .welcome-section .bar-graph .line:hover p {
  position: relative;
  font-weight: 600;
  display: inline-block;
  bottom: 20px;
}

.main-con .welcome-section .pie-div {
  width: 259px;
  height: 221px;
  background-color: #f7fdf7;
}

.main-con .welcome-section .pie-div #patient {
  padding: 21px 177px 7px 19px;
  font-weight: 600;
  font-size: 14px;
  color: #101010;
}

.main-con .welcome-section .pie-div #under-patient {
  width: 213px;
  height: 28px;
  font-size: 12px;
  font-weight: 400;
  color: #a1a1a1;
  line-height: 14px;
  margin: 7px 27px 27px 19px;
}

.main-con .welcome-section .pie-div #ndt2 {
  margin: 0px 38px 20px 19px;
}

.main-con .fluids .d-top-part #dash {
  font-size: 1.25rem;
  font-weight: 700;
  color: #101010;
}

.main-con .fluids .d-top-part .icon-cont .icon-notification {
  margin-right: 20px;
  position: relative;
}

.main-con .fluids .d-top-part .icon-cont .icon-notification .fa-bell {
  color: #A1A1A1;
}

.main-con .fluids .d-top-part .icon-cont .icon-notification .circle {
  position: absolute;
  display: inline-block;
  border: 2px outset RGBA(244, 52, 96, 0.3);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  right: 5.75%;
  top: 2.65%;
  background-color: RGB(244, 52, 96);
}

.main-con .fluids .d-top-part .icon-cont .dropdown2 {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #414141;
}

.main-con .fluids .d-top-part .icon-cont .dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1000;
  right: 0;
  top: 10;
}

.main-con .fluids .d-top-part .icon-cont .dropdown-content2 a {
  list-style: none;
}

.main-con .fluids .d-top-part .icon-cont .dropdown2:hover .dropdown-content2 {
  display: block;
}

.main-con .fluids .practice-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 0px RGBA(0, 0, 0, 0.07);
          box-shadow: 0px 0px 8px 0px RGBA(0, 0, 0, 0.07);
}

.main-con .fluids .practice-container .head .title {
  font-size: 18px;
  font-weight: 700;
  color: #101010;
  padding-right: 10px !important;
  margin-right: 10px !important;
  border-right: 1px solid #D8D8D8;
}

.main-con .fluids .practice-container .head .new {
  font-size: 14px;
  font-weight: 600;
  color: #0069FF;
}

.main-con .fluids .practice-container .head form i {
  color: #A1A1A1;
  font-size: 14px;
  margin-right: 11px;
}

.main-con .fluids .practice-container .head form input {
  border: none;
}

.main-con .fluids .practice-container .head form ::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #A1A1A1;
}

.main-con .fluids .practice-container .head form :-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #A1A1A1;
}

.main-con .fluids .practice-container .head form ::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #A1A1A1;
}

.main-con .fluids .practice-container .head form ::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #A1A1A1;
}

.main-con .fluids .practice-container .head form input:focus {
  outline: none;
  border: none;
}

.main-con .fluids .practice-container .practice-details {
  margin-top: 30px;
  background-color: #F9FAFC;
  padding: 20px !important;
}

.main-con .fluids .practice-container .practice-details .name-location .clinic-name {
  font-size: 16px;
  font-weight: 700;
  color: #101010;
  margin-right: 10px !important;
}

.main-con .fluids .practice-container .practice-details .name-location .location, .main-con .fluids .practice-container .practice-details .name-location ul .user, .main-con .fluids .practice-container .practice-details ul .name-location .user {
  font-size: 12px;
  font-weight: 400;
  color: #414141;
}

.main-con .fluids .practice-container .practice-details .name-location .icons i {
  color: #A1A1A1;
  font-size: 12px;
}

.main-con .fluids .practice-container .practice-details ul {
  margin-top: 10px;
}

.main-con .fluids .practice-container .practice-details ul .location, .main-con .fluids .practice-container .practice-details ul .user {
  color: #414141;
  font-size: 14px;
  line-height: 1.429;
}

.main-con .fluids .practice-container .practice-details ul .location i, .main-con .fluids .practice-container .practice-details ul .user i {
  font-size: 14px;
  color: #414141;
}

.main-con .fluids .practice-container .practice-details ul .user {
  margin-top: 10px;
}

.main-con .fluids .practice-container .practice-details ul .user a {
  color: #414141;
  font-size: 14px;
  line-height: 1.429;
  text-decoration: underline;
}

.practice .modal-content {
  width: 622px;
  border-radius: 10px;
  padding: 30px;
}

.practice .modal-content .modal-body p {
  font-size: 20px;
  font-weight: 700;
  color: #101010;
  line-height: 24.2px;
  margin-bottom: 20px !important;
}

.practice .modal-content .modal-body .form-group label {
  font-size: 16px;
  font-weight: 400;
  color: #414141;
}

.practice .modal-content .modal-body .form-group input {
  height: 46px;
  border-radius: 4px;
  background-color: #F9FAFC;
  font-size: 16px;
  font-weight: 400;
  color: #CCCCCC;
  border: 1px solid #E9EBEF;
}

.practice .modal-content .modal-body .form-group ::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  margin-left: 11px !important;
  color: #CCCCCC;
}

.practice .modal-content .modal-body .form-group :-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  margin-left: 11px !important;
  color: #CCCCCC;
}

.practice .modal-content .modal-body .form-group ::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  margin-left: 11px !important;
  color: #CCCCCC;
}

.practice .modal-content .modal-body .form-group ::placeholder {
  font-size: 16px;
  font-weight: 400;
  margin-left: 11px !important;
  color: #CCCCCC;
}

.practice .modal-content .modal-body .form-group input:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(48, 86, 245, 0.25);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(48, 86, 245, 0.25);
}

.practice .modal-content .modal-footer {
  border-top: none !important;
}

.practice .modal-content .modal-footer button {
  width: 230px;
  height: 48px;
  border-radius: 4px;
  background-color: #3056F5;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 19.36px;
}

.practice .modal-content .modal-footer .practice-dropdown {
  border: 1px solid #E9EBEF;
  border-radius: 4px;
}

.practice .modal-content .modal-footer .practice-dropdown .matching {
  height: 40px;
  background-color: rgba(0, 105, 255, 0.07);
  padding-left: 9px !important;
  padding-top: 10px !important;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.practice .modal-content .modal-footer .practice-dropdown .options {
  height: 40px;
  background-color: #ffffff;
  padding-left: 9px !important;
  padding-top: 10px !important;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.trash .modal-content {
  width: 622px !important;
  border-radius: 10px;
}

.trash .modal-content .modal-body i {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #F43460;
}

.trash .modal-content .modal-body h3 {
  font-size: 32px;
  font-weight: 400;
  color: #101010;
  margin-bottom: 20px;
  line-height: 39px;
}

.trash .modal-content .modal-body P {
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 16px;
  font-weight: 400;
  color: #414141;
  line-height: 26px;
  margin-bottom: 30px !important;
}

.trash .modal-content .modal-footer {
  border-top: 0 none !important;
}

.trash .modal-content .modal-footer .btns {
  padding-bottom: 30px !important;
}

.trash .modal-content .modal-footer .btns .cancel {
  width: 93px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  background-color: #EDECEC;
  color: #414141;
  border-radius: 4px;
  margin-right: 20px;
}

.trash .modal-content .modal-footer .btns .del {
  width: 89px;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  background-color: #F43460;
  border-radius: 4px;
  color: #ffffff;
}
/*# sourceMappingURL=practice.css.map */