* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 4%;
  padding-left: 2%;
  padding-top: 22.49px;
  padding-bottom: 18.49px;
}

.top-nav .logo {
  margin: 0;
  padding: 0;
  height: 29px !important;
  margin-left: 30px;
}

.top-nav nav ul {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.top-nav nav ul .hamburger-menu {
  margin-right: 1rem;
}

.top-nav nav ul .hamburger-menu .hamburger-wrapper {
  display: none;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
}

.top-nav nav ul .hamburger-menu .hamburger-wrapper .menu-1 {
  height: 3.5px;
  background-color: #2c2c2c;
  margin: 3px 0rem;
}

.top-nav nav ul .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav nav ul .login-credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav nav ul li {
  margin-right: 20px;
}

.top-nav nav ul li a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #414141;
}

.top-nav nav ul li:last-child {
  margin-right: 0;
}

.top-nav nav ul .bar {
  border-right: 1px solid #414141;
  height: 21px;
  margin-right: 20px;
}

.top-nav nav ul a:hover {
  -webkit-text-decoration: underline #3056F5 3px;
          text-decoration: underline #3056F5 3px;
  text-underline-offset: 5px;
}

.top-nav nav .dropbtn {
  background-color: #3056F5;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 17.5px;
  width: 120px;
  height: 29px;
}

.top-nav nav .dropbtn i {
  font-size: 14px !important;
  margin-left: 10px;
}

.top-nav nav .dropdown {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.top-nav nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 120px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-nav nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.top-nav nav .dropdown-content a:hover {
  background-color: #ddd;
}

.top-nav nav .dropdown:hover .dropdown-content {
  display: block;
}

.top-nav nav .dropdown:hover .dropbtn {
  background-color: #000000;
}

@media screen and (max-width: 1415px) {
  .top-nav {
    margin: 0px;
  }
  .top-nav .logo {
    margin-right: 50px;
  }
  .top-nav nav ul .dropbtn {
    width: 100px;
  }
}

@media screen and (max-width: 410px) {
  .top-nav {
    margin: 0px;
  }
  .top-nav .logo {
    margin-right: 10px;
  }
  .top-nav nav ul .dropbtn {
    width: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .top-nav .logo {
    margin-left: 5px;
  }
  .top-nav nav ul .hamburger-menu {
    position: relative;
  }
  .top-nav nav ul .hamburger-menu .hamburger-wrapper {
    display: block;
  }
  .top-nav nav ul .hamburger-menu .menu-container {
    visibility: hidden;
    pointer-events: none;
    background-color: #ebe8e8;
    width: 200px;
    position: absolute;
    top: 150%;
    left: -280%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-nav nav ul .hamburger-menu .menu-container li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-nav nav ul .hamburger-menu .menu-container li .menu-hidden {
    margin-top: 1rem;
  }
  .top-nav nav ul .hamburger-menu .menu-container li .menu-hidden:last-child {
    margin-bottom: 1rem;
  }
  .top-nav nav ul .hamburger-menu .display {
    visibility: visible;
    pointer-events: all;
  }
}

.search-page .search-results {
  background-color: #fafafa !important;
}

.search-page .search-results .search-cat {
  padding-top: 45px;
  padding-left: 30px;
}

.search-page .search-results .search-cat p {
  font-size: 14px;
  font-weight: 500;
  color: #0069FF;
  opacity: 0.6;
}

.search-page .search-results .search-cat #underlined {
  text-decoration: underline;
  opacity: 1;
}

.search-page .search-results .search-cat .telehealth {
  position: relative;
}

.search-page .search-results .search-cat .telehealth p {
  font-size: 14px;
  font-weight: 500;
  color: #0069FF;
  opacity: 0.6;
}

.search-page .search-results .search-cat .telehealth .new {
  position: absolute;
  right: -45%;
  bottom: 29%;
  font-size: 10px;
  font-weight: 400;
  color: #FCF5FF;
  background-color: RGB(185, 121, 220);
  opacity: 1;
  border-radius: 4px;
  padding: 2px 5px;
}

.search-page .search-results .filters {
  margin-bottom: 35px;
}

.search-page .search-results .filters #tw {
  font-size: 12px;
  color: RGB(0, 105, 255);
  font-weight: 400;
  text-align: center;
  border-radius: 14px;
  border: 1px solid RGB(0, 105, 255);
  margin-left: 30px;
  padding: 6px 7px 7px 9px;
  background-color: #fafafa;
}

.search-page .search-results .filters #fe {
  font-size: 12px;
  color: RGB(0, 105, 255);
  font-weight: 400;
  text-align: center;
  border-radius: 14px;
  border: 1px solid RGB(0, 105, 255);
  margin-left: 9px;
  padding: 6px 7px 7px 9px;
  background-color: #fafafa;
}

.search-page .search-results .filters .fil-icon {
  margin-right: 28px;
}

.search-page .search-results .filters .fil-icon i, .search-page .search-results .filters .fil-icon p {
  font-size: 16px;
  color: #414141;
}

.search-page .search-results .results {
  margin-left: 30px;
  padding-bottom: 26px;
  border-bottom: 1px solid  #CCCCCC;
}

.search-page .search-results .results p {
  font-size: 16px;
  font-weight: 600;
  color: #454545;
}

.search-page .search-results .results .btns-icons .icon-left-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid #CCCCCC;
}

.search-page .search-results .results .btns-icons .icon-left-circle i {
  font-size: 14px;
  color: #CCCCCC;
}

.search-page .search-results .results .btns-icons .botn {
  font-size: 14px;
  color: #CCCCCC;
  font-weight: 500;
  text-align: center;
  border-radius: 15px;
  border: 1px solid  #CCCCCC;
  margin-right: 10px;
  padding: 6px 10px 7px 10px;
  background-color: #fafafa;
}

.search-page .search-results .results .btns-icons .active {
  font-size: 14px;
  color: #EEEEEE;
  font-weight: 500;
  text-align: center;
  border-radius: 15px;
  border: 1px solid   #0069FF;
  margin-right: 10px;
  padding: 6px 10px 7px 10px;
  background-color: #0069FF;
}

.search-page .search-results .results .btns-icons .icon-right-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 29px;
  margin-left: 5px;
  border: 1px solid #CCCCCC;
}

.search-page .search-results .results .btns-icons .icon-right-circle i {
  font-size: 14px;
  color: #CCCCCC;
}

.search-page .search-results .full-information {
  padding: 22px 0px;
  margin: 0px 30px;
  border-bottom: 1px solid  #CCCCCC;
}

.search-page .search-results .full-information .img-part {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}

.search-page .search-results .full-information .img-part img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.search-page .search-results .full-information .img-part .icon-circle {
  position: absolute;
  width: 34px;
  height: 34px;
  background-color: #3056F5;
  border-radius: 50%;
  bottom: 7%;
  right: 3%;
}

.search-page .search-results .full-information .img-part .icon-circle i {
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 10px;
}

.search-page .search-results .full-information .other-part {
  width: 78%;
}

.search-page .search-results .full-information .other-part .name-rating p {
  font-size: 18px;
  font-weight: 700;
  color: #101010;
}

.search-page .search-results .full-information .other-part .name-rating .icon-rating i {
  font-size: 14px;
  color: #F1B24A;
}

.search-page .search-results .full-information .other-part .name-rating .icon-rating p {
  color: #F1B24A;
  font-size: 14px;
  font-weight: 500;
}

.search-page .search-results .full-information .other-part .address {
  font-size: 14px;
  font-weight: 400;
  color: #A1A1A1;
  line-height: 1.286;
  width: 60%;
  margin-top: 12px;
}

.search-page .search-results .full-information .other-part .time-slots {
  margin-top: 17px;
}

.search-page .search-results .full-information .other-part .time-slots button {
  font-size: 12px;
  color: #0069FF;
  font-weight: 500;
  text-align: center;
  border-radius: 9.5px;
  border: 1px solid   #0069FF;
  margin-right: 10px;
  padding: 2px 10px;
  background-color: #fafafa;
}

.search-page .search-results .full-information .other-part .time-slots a {
  color: #0069FF;
  font-size: 12px;
  text-decoration: underline;
  font-weight: 400;
}
/*# sourceMappingURL=search-results.css.map */