* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.mid-part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mid-part2 .thelogo {
  left: 20px;
  margin-top: 22px;
  position: absolute;
}

.mid-part2 .ourform101 .form-part {
  margin-top: 144px;
  margin-left: 123px;
  width: 50%;
}

.mid-part2 .ourform101 .form-part h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #333131;
}

.mid-part2 .ourform101 .form-part p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  color: #A1A1A1;
  width: 475px;
}

.mid-part2 .ourform101 .form-part form label {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
}

.mid-part2 .ourform101 .form-part form input {
  margin-top: 10px;
  height: 52px;
  width: 445px;
  border: 1px solid #E9EBEF;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 4px;
}

.mid-part2 .ourform101 .form-part form ::-webkit-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form :-ms-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form ::-ms-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form ::placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .input-icons {
  position: relative;
}

.mid-part2 .ourform101 .form-part form .input-icons .pass {
  width: 445px;
  height: 52px;
  padding: 5px;
  border: 1px solid #E9EBEF;
  margin-bottom: 30px;
  border-radius: 4px;
}

.mid-part2 .ourform101 .form-part form .input-icons #togglePassword {
  position: absolute;
  right: -30%;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: black;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}

.mid-part2 .ourform101 .form-part .agree {
  width: 445px;
}

.mid-part2 .ourform101 .form-part .agree label {
  line-height: 1;
  color: #9999A1;
}

.mid-part2 .ourform101 .form-part button {
  width: 230px;
  height: 48px;
  color: white;
  background-color: #3056F5;
  border: none;
  border-radius: 4px;
  margin-top: 31px;
}

.mid-part2 .ourform101 .form-part #bel-login {
  margin-top: 20px;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
}

.mid-part2 .slider-part {
  width: 50%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(purple), to(#5556F8));
  background-image: linear-gradient(to top left, purple, #5556F8);
}

.mid-part2 .slider-part .bo1 {
  width: 342px;
  height: 342px;
  position: absolute;
  background-color: #979797;
  opacity: 4%;
  border-radius: 24%;
  left: 20;
  right: 0;
  top: 0;
  bottom: 0;
}

.mid-part2 .slider-part .bo2 {
  width: 211px;
  height: 211px;
  position: absolute;
  background-color: #979797;
  opacity: 4%;
  border-radius: 24%;
  left: 10;
  right: 10;
  top: 45%;
  bottom: 0;
}

.mid-part2 .slider-part .bo3 {
  width: 342px;
  height: 342px;
  position: absolute;
  background-color: #979797;
  opacity: 4%;
  border-radius: 24%;
  left: 52%;
  right: 0;
  top: 80%;
  bottom: 0;
}

.mid-part2 .slider-part img {
  margin-top: 130px;
  margin-left: 114px;
}

.mid-part2 .slider-part h3 {
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 19px;
}

.mid-part2 .slider-part p {
  color: white;
  text-align: center;
}

.mid-part2 .slider-part .dots {
  margin-top: 92px;
}

.mid-part2 .slider-part .dots .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.mid-part2 .slider-part .dots .active,
.mid-part2 .slider-part .dots .dot:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 409px) {
  .mid-part2 {
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mid-part2 .form-part {
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
  }
  .mid-part2 .form-part form input {
    width: 100%;
  }
  .mid-part2 .form-part form .input-icons {
    width: 100%;
  }
  .mid-part2 .form-part form .input-icons .pass {
    width: 100%;
  }
  .mid-part2 .form-part .agree {
    width: 100%;
  }
  .mid-part2 .form-part .agree input label {
    width: 90%;
  }
  .mid-part2 .slider-part {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 500px;
  }
  .mid-part2 .slider-part img {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    width: 80%;
  }
  .mid-part2 .slider-part p {
    margin-left: 1rem;
    margin-right: 0px;
    width: 90%;
    text-align: center;
  }
  .mid-part2 .slider-part .dots {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .mid-part2 {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mid-part2 .form-part {
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
  }
  .mid-part2 .form-part form input {
    width: 100%;
  }
  .mid-part2 .form-part form .input-icons {
    width: 100%;
  }
  .mid-part2 .form-part form .input-icons .pass {
    width: 100%;
  }
  .mid-part2 .form-part .agree {
    width: 100%;
  }
  .mid-part2 .form-part .agree input label {
    width: 90%;
  }
  .mid-part2 .slider-part {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 650px;
  }
  .mid-part2 .slider-part img {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    width: 80%;
  }
  .mid-part2 .slider-part p {
    margin-left: 1rem;
    margin-right: 0px;
    width: 90%;
    text-align: center;
  }
  .mid-part2 .slider-part .dots {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=sign-up.css.map */