* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.mid-part2 .thelogo {
  left: 20px;
  margin-top: 22px;
  position: absolute;
}

.mid-part2 .ourform101 {
  width: 100%;
}

.mid-part2 .ourform101 .form-part {
  margin-left: 8vw;
}

.mid-part2 .ourform101 .form-part .icon-message {
  height: 60px;
  margin-top: 60px;
  margin-bottom: 24px;
}

.mid-part2 .ourform101 .form-part .icon-message .im {
  display: none;
}

.mid-part2 .ourform101 .form-part .show .im {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31vw;
  border-radius: 0.313rem;
  border: 0.063rem solid #F43460;
  border-left: 0.40rem solid #F43460;
  background-color: white;
}

.mid-part2 .ourform101 .form-part .show .im i {
  font-size: 30px;
  margin: 15px 10px 15px 25px;
  color: #F43460;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mid-part2 .ourform101 .form-part .show .im .erp {
  margin-top: 10px;
  padding: 0;
  height: 55px;
}

.mid-part2 .ourform101 .form-part .show .im .erp h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.mid-part2 .ourform101 .form-part .show .im .erp p {
  color: #A1A1A1;
  font-size: 13px;
  font-weight: 400;
}

.mid-part2 .ourform101 .form-part h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #333131;
}

.mid-part2 .ourform101 .form-part p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  color: #A1A1A1;
  width: 100%;
}

.mid-part2 .ourform101 .form-part form .inputs label {
  color: #414141;
  font-size: 16px;
  font-weight: 400;
}

.mid-part2 .ourform101 .form-part form .inputs input {
  margin-top: 10px;
  height: 52px;
  width: 31vw;
  border: 1px solid #E9EBEF;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 4px;
}

.mid-part2 .ourform101 .form-part form .inputs ::-webkit-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .inputs :-ms-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .inputs ::-ms-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .inputs ::placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .inputs input:focus {
  outline: none;
  border-color: #3056F5;
}

.mid-part2 .ourform101 .form-part form .inputs i {
  display: none;
}

.mid-part2 .ourform101 .form-part form .inputs small {
  display: none;
}

.mid-part2 .ourform101 .form-part form .show-bg-icon {
  position: relative;
}

.mid-part2 .ourform101 .form-part form .show-bg-icon input {
  border: 1px solid  #F43460;
  background: rgba(244, 52, 96, 0.03);
  margin-bottom: 0px;
}

.mid-part2 .ourform101 .form-part form .show-bg-icon input:focus {
  outline: none;
  border-color: #F43460;
}

.mid-part2 .ourform101 .form-part form .show-bg-icon i {
  display: block;
  position: absolute;
  right: 23%;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #F43460;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}

.mid-part2 .ourform101 .form-part form .show-bg-icon small {
  display: block;
  height: 16px;
  margin-bottom: 14px !important;
  color: #F43460;
  font-size: 12px;
}

.mid-part2 .ourform101 .form-part form .input-icons {
  position: relative;
}

.mid-part2 .ourform101 .form-part form .input-icons .pass {
  width: 31vw;
  height: 52px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #E9EBEF;
  margin-bottom: 30px;
  border-radius: 4px;
}

.mid-part2 .ourform101 .form-part form .input-icons ::-webkit-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .input-icons :-ms-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .input-icons ::-ms-input-placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .input-icons ::placeholder {
  color: #ccc;
}

.mid-part2 .ourform101 .form-part form .input-icons .pass:focus {
  outline: none;
  border-color: #3056F5;
}

.mid-part2 .ourform101 .form-part form .input-icons #togglePassword {
  position: absolute;
  right: 23%;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: black;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}

.mid-part2 .ourform101 .form-part .agree {
  width: 31vw;
}

.mid-part2 .ourform101 .form-part .agree label {
  line-height: 1;
  color: #9999A1;
}

.mid-part2 .ourform101 .form-part button {
  width: 230px;
  height: 48px;
  color: white;
  background-color: #3056F5;
  border: none;
  border-radius: 4px;
  margin-top: 31px;
}

.mid-part2 .ourform101 .form-part #bel-login {
  margin-top: 20px;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
}

.mid-part2 .slider-part {
  position: relative;
  height: auto;
  width: 100%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(purple), to(#5556F8));
  background-image: linear-gradient(to top left, purple, #5556F8);
}

.mid-part2 .slider-part .bo1 {
  width: 22.26vw;
  height: 22.26vw;
  position: absolute;
  background-color: #979797;
  opacity: 4%;
  border-radius: 24%;
  left: 20;
  right: 0;
  top: 0;
  bottom: 0;
}

.mid-part2 .slider-part .bo2 {
  width: 13.73vw;
  height: 13.73vw;
  position: absolute;
  background-color: #979797;
  opacity: 4%;
  border-radius: 24%;
  left: 10;
  right: 10;
  top: 45%;
  bottom: 0;
}

.mid-part2 .slider-part .bo3 {
  width: 22.26vw;
  height: 22.26vw;
  position: absolute;
  background-color: #979797;
  opacity: 4%;
  border-radius: 24%;
  left: 52%;
  right: 0;
  top: 80%;
  bottom: 0;
}

.mid-part2 .slider-part img {
  margin-top: 130px;
}

.mid-part2 .slider-part h3 {
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 19px;
}

.mid-part2 .slider-part p {
  color: white;
  text-align: center;
}

.mid-part2 .slider-part .dots {
  margin-top: 92px;
}

.mid-part2 .slider-part .dots .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.mid-part2 .slider-part .dots .active,
.mid-part2 .slider-part .dots .dot:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 991px) {
  .mid-part2 {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mid-part2 .ourform101 {
    margin-top: 2rem;
    width: 100% !important;
  }
  .mid-part2 .ourform101 .form-part {
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
  }
  .mid-part2 .ourform101 .form-part .show .im {
    width: 100%;
  }
  .mid-part2 .ourform101 .form-part form .inputs input {
    width: 100%;
  }
  .mid-part2 .ourform101 .form-part form .show-bg-icon i {
    right: 0%;
  }
  .mid-part2 .ourform101 .form-part form .input-icons .pass {
    width: 100%;
  }
  .mid-part2 .ourform101 .form-part form .input-icons #togglePassword {
    right: 0%;
  }
  .mid-part2 .ourform101 .form-part .agree {
    width: 100%;
  }
  .mid-part2 .ourform101 .form-part .agree input label {
    width: 90%;
  }
  .mid-part2 .slider-part {
    margin-left: 10px;
    margin-right: 10px;
    width: 100% !important;
    height: auto;
    padding-bottom: 2rem;
  }
  .mid-part2 .slider-part .bo1 {
    display: none;
  }
  .mid-part2 .slider-part .bo2 {
    display: none;
  }
  .mid-part2 .slider-part .bo3 {
    display: none;
  }
  .mid-part2 .slider-part img {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    width: 80%;
  }
  .mid-part2 .slider-part p {
    margin-left: 1rem;
    margin-right: 0px;
    width: 90%;
    text-align: center;
  }
  .mid-part2 .slider-part .dots {
    margin-top: 2rem;
  }
}
/*# sourceMappingURL=sign-up.css.map */