* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  
}

.mid-part2 {
  
  .thelogo{
    left: 20px;
    margin-top:22px;
    position: absolute;
  }
  .ourform101{
    
    width: 100%;
  .form-part {
    margin-left: 8vw;
    .icon-message{
      height: 60px;
      margin-top: 60px;
      margin-bottom: 24px;
      .im{
      display: none;
      }
    }
    .show{
      .im{
      display: flex;
      width: 31vw;
      border-radius: 0.313rem;
      border: 0.063rem solid #F43460;
      border-left: 0.40rem solid #F43460;
      background-color: white;
      i{
          font-size: 30px;
          margin: 15px 10px 15px 25px;
          color: #F43460;
          justify-content: center;
      }
      .erp{
          margin-top: 10px;
          padding: 0;
          height: 55px;
          h4{
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            padding: 0;
          }
          p{
              color:  #A1A1A1;
              font-size: 13px;
              font-weight: 400;
          }
      }
    }
    }
    h1 {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 700;
      color:  #333131;
    }

    p {
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: 300;
      color:#A1A1A1;
      width: 100%;
    }

    form {
      
      .inputs{
      label{
        color: #414141;
        font-size: 16px;
        font-weight: 400;
       
      }
      input {
        margin-top: 10px;
        height: 52px;
        width: 31vw;
        border: 1px solid #E9EBEF;
        margin-bottom: 30px;
        padding: 5px;
        border-radius: 4px;
        background-color: #ffffff;
      }
      ::placeholder{
        color: #ccc;
        font-size: 16px;
        font-weight: 400;
      }
      input:focus{
        outline: none;
        border-color: #3056F5;
      }
      i{
        display: none;
      }
      small{
        display: none;
      }
    }
    .show-bg-icon{
      position: relative;
      input{
        border: 1px solid  #F43460;
      background: rgba(244, 52, 96, 0.03);
      margin-bottom: 0px;
      }
      input:focus{
  
          outline: none;
          border-color: #F43460;
        
       
      }
      i{
        display: block;
        position: absolute;
        right:23%;
        top: 60%;
        transform: translateY(-50%);
        color: #F43460;
        min-width: 50px;
        text-align: center;
        cursor: pointer;
      }
      small{
        display: block;
        height: 16px;
        margin-bottom: 14px !important;
        color: #F43460;
        font-size: 12px;
      }
    }
      .input-icons {
        position: relative;
        .pass {
          width: 31vw;
          height: 52px;
          margin-top: 10px;
          padding: 5px;
          border: 1px solid #E9EBEF;
          margin-bottom: 30px;
          border-radius: 4px;
        }
        ::placeholder{
          color: #ccc;
          font-size: 16px;
          font-weight: 400;
        }
        .pass:focus{
          outline: none;
          border-color: #3056F5;
        }
        #togglePassword {
            position: absolute;
            right:23%;
            top: 54%;
            transform: translateY(-50%);
            color: #414141;
            font-size: 16px;
            min-width: 50px;
            text-align: center;
            cursor: pointer;
          }
          
      }
      
    }

    .agree {
      width: 31vw;

      label {
        line-height: 1;
        color: #9999A1;
      }

      
    }
    button {
      width: 230px;
      height: 48px;
      color: white;
      background-color: #3056F5;
      border: none;
      border-radius: 4px;
      margin-top: 31px;
      
    }
    #bel-login{
      margin-top: 20px;
      color: #414141;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
  .slider-part {
    
    position: relative;
    height: auto;
    width: 100%;
    background-image: linear-gradient(135deg,#8048FF 0%, #3056F5 100%);
    .bo1{
      width: 22.26vw;
      height: 22.26vw;
      position: absolute;
      background-color: #979797;
      opacity: 4%;
      border-radius: 24%;
      left: 20;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .bo2{
      width: 13.73vw;
      height: 13.73vw;
      position: absolute;
      background-color: #979797;
      opacity: 4%;
      border-radius: 24%;
      left: 10;
      right: 10;
      top: 45%;
      bottom: 0;
    }
    .bo3{
      width: 22.26vw;
      height: 22.26vw;
      position: absolute;
      background-color: #979797;
      opacity: 4%;
      border-radius: 24%;
      left: 52%;
      right: 0;
      top: 80%;
      bottom: 0;
    }
    

    img {
      margin-top: 130px;
     
      
    }

    h3 {
      color: #ffffff;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 19px;
      font-size: 20px;
      font-weight: 600;
    }

    p {
      color:  #F9FAFC;
      font-size: 16px;
      line-height: 1.5;
      opacity: 0.9;
      font-weight: 400;
      text-align: center;
     
    }

    .dots {
      margin-top: 92px;

      .dot {
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active,
      .dot:hover {
        background-color: #ffffff;
      }
    }
  }

}


@media screen and (max-width:991px) {
  .mid-part2 {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    .ourform101{
      margin-top: 2rem;
      width: 100% !important;
      
    .form-part {
      margin-left: 10px;
      margin-top: 50px;
      margin-right: 10px;
      .show{
        .im{
          width: 100%;
        }
      }
      form {
        .inputs{
        input {
          width: 100%;
        }
      }
      .show-bg-icon{
        i{
          right: 0%;
        }
      }
        .input-icons {
          
          .pass {
            width: 100%;
           
          }
          #togglePassword {
              right:0%;
              
             
            }
            
        }
      }

      .agree {
        width: 100%;

        input {
          label {
            width: 90%;
          }
        }

      }
    }
  }
    .slider-part {
      margin-left: 10px;
      margin-right: 10px;
      width: 100% !important;
      height: auto;
      padding-bottom: 2rem;
      .bo1{
        display: none;
      }
      .bo2{
        display: none;
      }
      .bo3{
        display: none;
      }
      img {
        margin-top: 5rem;
        margin-left: 2rem;
        margin-right: 1rem;
        width: 80%;
      }

      p {
        margin-left: 1rem;
        margin-right: 0px;
        width: 90%;
        text-align: center;
      }

      .dots {
        margin-top: 2rem;
      }
    }
  }
}