body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.top-wrapper {
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4%;
    padding-left: 2%;
    height: 35px;
    padding-top: 20px;
    // margin-top: 20px;

    .logo {
     margin: 0;
     padding: 0;
    }
    nav {
      

      ul {
        position: relative;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;

        .hamburger-menu {
          margin-right: 1rem;

          .hamburger-wrapper {
            display: none;
            width: 30px;
            overflow: hidden;
            cursor: pointer;

            .menu-1 {
              height: 3.5px;
              background-color: rgb(44, 44, 44);
              margin: 3px 0rem;
            }
          }
        }

        .menu-container {
          display: flex;
          align-items: center;
          
        }

        .login-credentials {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        li {
          margin-right: 20px;
          
          a {
            
            text-decoration: none;
            color: white;
          }
        }
        li:last-child{
          margin-right: 0;
        }
        .bar {
          border-right: 1px solid white;
          height: 21px;
          margin-right: 20px;
        }
        a:hover {
          text-decoration: underline #3056F5 3px;
          text-underline-offset: 5px;
        }
      }
      .dropbtn {
        background-color: #3056F5;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 5px;
        width: 120px;
        height: 35px;
      }

      .dropdown {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content a:hover {
        background-color: #ddd;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown:hover .dropbtn {
        background-color: #000000;
      }
    }
  }
  form {
    padding:15.33% 8% 25.44% 64%;
    width: 475px;
    height: 442px;
    background: transparent;
    
    h2 {
      color: #ffffff;
      text-align: start;
      width: 475px;
      // height: 118px;
      font-family: "Inter";
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .input-and-icon{
      position: relative;
      width: 32vw;
      input[type="text"] {
        border: none;
        border-bottom: 1px solid white;
        width: 100%;
        height: 30px;
        background: transparent;
        margin-bottom: 30px;
        
      }
      .our-icon{
        position: absolute;
            right: 0%;
            top: 0%;
            color: white;
            // min-width: 50px;
            text-align: center;
            cursor: pointer;
      }
      input:focus{
        outline: none;
      }
      ::placeholder {
        color: white;
        opacity: 1;
      }
    }
    
    button {
      width: 32vw;
      height: 54px;
      border-radius: 4px;
      border: none;
      background-color: blue;
      color: white;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 410px) {
  .top-wrapper {
    .top-nav {
      margin: 0px;
      .logo {
        margin-right: 10px;
      }
      nav {
        ul {
          .dropbtn {
            width: 100px;
          }
        }
      }
    }
  }
}
//Media-query for hamburger display
@media screen and (max-width: 1000px) {
  .top-wrapper {
    .top-nav {
      .logo {
        margin-left: 5px;
      }
      nav {
        ul {
          .hamburger-menu {
            position: relative;
            .hamburger-wrapper {
              display: block;
            }

            .menu-container {
              visibility: hidden;
              pointer-events: none;
              background-color: rgb(235, 232, 232);
              width: 200px;
              position: absolute;
              top: 150%;
              left: -280%;
              display: flex;
              align-items: center;
              flex-direction: column;

              li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .menu-hidden {
                  margin-top: 1rem;
                }

                .menu-hidden:last-child {
                  margin-bottom: 1rem;
                }
              }
            }

            .display {
              visibility: visible;
              pointer-events: all;
            }
          }
        }
      }
    }
  }
}



.mid-part {
  margin-left:11.11%;
  margin-bottom: 100px;
  margin-right: 11.11%;
  width: 77.78%;
  margin-top: 100px;
  height: 328px;
  
  
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #101010;
  }
  .three-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .box {
      min-width: 320px;
      img{
        margin: 0px 135px 33px 135px;
      }
      .name {
        margin: 0px 85px 23px 85px;
        font-weight: 700;
        font-size: 20px;
        color: #101010;
        
      }
      #name2{
        margin: 0px 49px 23px 48px;
        font-weight: 700;
        font-size: 20px;
        color: #101010;
      }
      #name3{
        margin: 0px 44px 23px 43px;
        font-weight: 700;
        font-size: 20px;
        color: #101010;
      }
      .text {
        font-size: 16px;
        margin-top: 0px;
        font-weight: 400px;
        line-height: 1.625;
        text-align: center;
      }
    }
  }
}
.for-dentist {
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    // margin: 0px 498px 60px 498px;
    margin-bottom: 3.75rem;
  }
  .dentist-container {
    h1 {
      text-align: center;
      margin-bottom: 60px;
    }
    .cont-1 {
      height: 635px;
      margin-bottom: 6.25rem;
      display: flex;
      background-color: #f8fbfe;
      .img {
        margin-top: 100px;
        width: 595px;
        height: 472px;
        margin-right: 127px;
        margin-left: 70px;
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-box {
        margin-top: 171px;
        width: 394px;
        height: 294px;
        h2 {
          margin-bottom: 30px;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.313;
          color: #101010;
          width: 335px;
         
        }
        p {
          margin-bottom: 30px;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.625;
          color: #414141;
        }
        button {
          width: 231px;
          border-radius: 23px;
          border: none;
          height: 46px;
          background-color: #dff7f6;
          color: #0f3d33;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
    .cont-2 {
      height: 402px;
      margin-bottom: 200px;
      display: flex;
      .img2 {
        height: 100%;
        width: 614px;
        margin-left: 80px;
        margin-right: 98px;
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-box-2 {
        #newf {
          margin-top: 49px;
          color: #fa8231;
        }
        h2 {
          margin-top: 10px;
          width: 313px;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.313;
          color: #101010;
        }
        p {
          width: 394px;
          margin-top: 30px;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.625;
          color: #414141;
        }
        a{
          text-decoration: none;
        #underline {
          color: #0069ff;
          font-size: 16px;
          font-weight: 500;
          text-decoration: underline #0069ff;
          font-weight: bolder;
          text-underline-offset: 9px;
        }
      }
      }
    }
    .cont-3 {
      height: 630px;
      margin-bottom: 154px;
      display: flex;
      .text-box-3 {
        margin-top: 163px;
        margin-left: 120px;
        width: 394px;
        #popf {
          margin-bottom: 10px;
        }
        h2 {
          margin-bottom: 30px;
          width: 245px;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.313;
          color: #101010;
        }
        p {
          margin-bottom: 30px;
          width: 394px;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.625;
          color: #414141;
        }
        a{
          text-decoration: none;
          #underline2 {
          color: #0069ff;
          font-size: 16px;
          font-weight: 500;
          text-decoration: underline #0069ff 2px;
          font-weight: bolder;
          text-underline-offset: 9px;
        }
      }
      }
      .img3 {
        width: 434px;
        height: 584px;
        margin-left: 240px;
        margin-right: 204px;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.testimonials {
  height: 520px;
  
  // width: 834px;
  // margin: 0px 303px 207px 303px;
  // margin-left: 20%;
  // margin-right: 20%;
  // width: 60%;
  margin-bottom: 12.938rem;
  h1 {
    // height: 59px;
    // width: 608px;
    // margin: 0px 113px 30px 113px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  #descrip {
    height: 52px;
    margin-bottom: 73px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    line-height: 1.625;
  }
  .two-boxes {
    display: flex;
    padding-left: 10%;
    justify-content: center;
    height: 306px;
   
    .boxes {
      width: 367px;
      height: 306px;
      img{
        margin: 0px 283px 24px 0px;
      }
      .desc{
        width: 367px;
        margin:0px 0px 20px 0px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        color: #101010;
      }
      .name{
        margin:0px 0px 10px 0px;
        font-weight: 700;
        color: #101010;
      }
      .job{
        margin: 0px;
        color:#414141;
        font-weight: 400;
        
      }

    }
    .one{
      margin-right: 100px;
    }
  }
}
.get-started{
  height: 357px;
  margin: 0 auto;
  margin-bottom: 100px;
  h1{
    margin-bottom: 30px;
    text-align: center;
  }
  #down-sugg{
    margin-bottom: 60px;
    text-align: center;
  }
  .app-down{
    width: 566px;
    margin: 0 auto;
    .app{
    border: 1px solid #DBE4F1;
    border-radius: 5px;
    margin: 0px 129.5px 14px 127.5px;
    display: flex;
    justify-content: center;
    img{
      margin: 19px 18px 17px 21px;
    }
    a{
      text-decoration: none;
      color: #222D3D;
    .dt{
      
    .down{
      margin: 19px 37px 2px 0px;
      font-weight: 600;
    }
    .try{
      font-size: 14px;
      color: #878B90;
    }
  }
}
  }
}
}
.footer{
  display: flex;
  justify-content: space-around;
  background-color: #F8FBFE;
  .first{
    width: 385px;
    height: 120px;
    margin: 80px auto;
    
    img{
      margin-bottom: 40px;
    }
    p{
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
    }
    i{
      margin-right: 22px;
    }
  }
  .second{
    margin: 77px 0px 48px 0px;
    margin-left: auto;
    margin-right: auto;
    p{
      margin-bottom: 40px;
      font-size: 14px;
      font-weight: 600;
      color:#101010;
      margin-left: 2rem;
      
    }
    .menus{
      display: flex;
      
      #m1{
        width: 185px;
        height: 224px;
        ul{
          li{
            list-style: none;
            a{
              text-decoration: none;
              color: #414141;
              line-height: 40px;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
      #m2{
        width: 185px;
        height: 224px;
        ul{
          li{
            list-style: none;
            a{
              text-decoration: none;
              color: #414141;
              line-height: 40px;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .third{
    height: 282px;
    width: 360px;
    margin: 77px 0px 48px 0px;
    #header{
      font-size: 14px;
      font-weight: 600;
      color:  #101010;
      margin-bottom:40px;
    }
    #email-num{
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      color: #414141;
    }
  }
}