html,body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  z-index: 100000;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

//top part having nav and form starts here

.top-wrapper {
  width: 100%;
  height: 900px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.23) 0%,rgba(60, 59, 59, 0.42) 61%,rgba(43, 41, 41, 0.44) 100%), url('../images/background-top.png');
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;


  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4%;
    padding-left: 2%;
    padding-top: 20px;

    .logo {
     margin: 0;
     padding: 0;
     margin-left: 120px;
    }
    nav {
      
  
      ul {
        position: relative;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
  
        .hamburger-menu {
          margin-right: 1rem;
  
          .hamburger-wrapper {
            display: none;
            width: 30px;
            overflow: hidden;
            cursor: pointer;
  
            .menu-1 {
              height: 3.5px;
              background-color: rgb(44, 44, 44);
              margin: 3px 0rem;
            }
          }
        }
  
        .menu-container {
          display: flex;
          align-items: center;
          
        }
  
        .login-credentials {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
  
        li {
          margin-right: 20px;
          
          a {
            
            text-decoration: none;
            color: #ffffff;
          }
        }
        li:last-child{
          margin-right: 0;
        }
        .bar {
          border-right: 1px solid #ffffff;
          height: 21px;
          margin-right: 20px;
        }
        a:hover {
          text-decoration: underline #0069FF 3px;
          text-underline-offset: 5px;
          
        }
      }
      .dropbtn {
        background-color: #0069FF; 
        color: #ffffff;
        border: none;
        border-radius: 20px;
        padding: 5px;
        width: 120px;
        height: 35px;
        i{
          font-size: 14px !important;
          margin-left: 10px;
        }
      }
  
      .dropdown {
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        display: inline-block;
      }
  
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      .dropdown-content a {
        color:  #414141;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      .dropdown-content a:hover {
        background-color: #ddd;
      }
  
      .dropdown:hover .dropdown-content {
        display: block;
      }
  
      .dropdown:hover .dropbtn {
        background-color:  #414141;
      }
    }
  }
  .form-div{
    margin-top: 174px;
    margin-right: 120px;
  form {
    background: transparent;
    
    h2 {
      color: #ffffff;
      font-family: Inter;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .input-and-icon{
      position: relative;
      width:29.688rem;
      
      input[type="text"]{
        border: none;
        border-bottom: 1px solid #ffffff;
        width: 100%;
        height: 30px;
        font-size: 18px;
        font-weight: 500;
        color: #ffffff;
        background: transparent;
        margin-bottom: 30px;
      }
      
      
      .our-icon{
        position: absolute;
            right: 0%;
            top: 0%;
            color: #ffffff;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
      }
      input:focus{
        outline: none;
      }
      ::placeholder {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        opacity: 1;
      }
    }
    
    button {
      width: 475px;
      height: 54px;
      border-radius: 4px;
      border: none;
      font-size: 16px;
      font-weight: 400;
      background-color:  #0069FF;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
}

@media screen and (max-width: 410px) {
  .top-wrapper {
    .top-nav {
      margin: 0px;
      .logo {
        margin-right: 5px;
      }
      nav {
        ul {
          
          .dropbtn {
            width: 90px;
            font-size: 14px;
          }
        }
      }
    }
  }
}


//Media-query for hamburger display
@media screen and (max-width: 1000px) {
  .top-wrapper {
    .top-nav {
      .logo {
        margin-left: 5px;
      }
      nav {
        ul {
          .hamburger-menu {
            position: relative;
            .hamburger-wrapper {
              display: block;
            }

            .menu-container {
              visibility: hidden;
              pointer-events: none;
              background-color: rgb(235, 232, 232);
              width: 200px;
              position: absolute;
              top: 150%;
              left: -280%;
              display: flex;
              align-items: center;
              flex-direction: column;

              li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .menu-hidden {
                  margin-top: 1rem;
                }

                .menu-hidden:last-child {
                  margin-bottom: 1rem;
                }
              }
            }

            .display {
              visibility: visible;
              pointer-events: all;
            }
          }
        }
      }
    }
  }
}


//top part having form and nav ends here

//simple for patients part starts

.mid-part {
  margin-bottom: 100px;
  overflow: hidden;
  margin-top: 100px;
 
  h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #101010;
  }
  .three-boxes {
    .box {
      border-right: 2px solid #fafafa;
      .name {
        font-weight: 700;
        font-size: 20px;
        color: #101010;
      }
      
      .text {
        font-size: 16px;
        margin-top: 0px;
        font-weight: 400px;
        line-height: 1.625;
        color: #414141;
      }
    }
    .box:last-child{
      border: none;
    }
  }
}

// simple for patients part ends

//simple for dentist starts

.for-dentist {
  h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #101010;
    margin-bottom: 3.75rem;
  }
  .dentist-container {
    
    h1 {
      text-align: center;
      margin-bottom: 60px;
    }
    .container-1-0{
      background-color: #f8fbfe;
    .cont-1 {
      width: 77.5%;
      margin: 0 auto;
      margin-bottom: 6.51vw;
      
      .img {
        margin-top: 6.51vw;
        width: 50%;
        margin-right: 95px;
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-box {
        margin-top: 11.13vw;
        h2 {
          margin-bottom: 30px;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.313;
          color: #101010;
          
         
        }
        p {
          margin-bottom: 2.083vw;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.625;
          color: #414141;
        }
        button {
          width: 231px;
          border-radius: 23px;
          border: none;
          height: 46px;
          background-color: #dff7f6;
          color: #0f3d33;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }

    .cont-2 {
      width: 77.5%;
      margin: 0 auto;
      margin-bottom: 200px;
      display: flex;
      .img2 {
        height: 100%;
        width: 50%;
        margin-right: 95px;
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-box-2 {
        #newf {
          margin-top: 49px;
          color: #fa8231;
          font-weight: 500;
          font-size: 14px;
        }
        h2 {
          margin-top: 10px;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.313;
          color: #101010;
        }
        p {
          margin-top: 30px;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.625;
          color: #414141;
        }
        a{
          text-decoration: none;
        #underline {
          color: #0069ff;
          font-size: 16px;
          font-weight: 500;
          text-decoration: underline #0069ff;
          font-weight: bolder;
          text-underline-offset: 9px;
        }
      }
      }
    }
    .cont-3 {
      width: 77.5%;
      margin: 0 auto;
      margin-bottom: 154px;
      display: flex;
      .text-box-3 {
        margin-top: 163px;
        margin-right: 95px;
        #popf {
          margin-bottom: 10px;
          color:#A1A1A1;
          font-size: 14px;
          font-weight: 500;
        }
        h2 {
          margin-bottom: 30px;
          font-weight: 700;
          font-size: 32px;
          line-height: 1.313;
          color: #101010;
        }
        p {
          margin-bottom: 30px;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.625;
          color: #414141;
        }
        a{
          text-decoration: none;
          #underline2 {
          color: #0069ff;
          font-size: 16px;
          font-weight: 500;
          text-decoration: underline #0069ff 2px;
          text-underline-offset: 9px;
        }
      }
      }
      .img3 {
        width: 50%;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

//simple for dentists ends

//testimonials starts

.testimonials {

  margin-bottom: 12.938rem;
  h1 {
    
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    color:#101010;
  }
  #descrip {
    
    margin-bottom: 73px;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    line-height: 1.625;
  }
  .two-boxes {
    width: 55%;
    margin: 0 auto;
    .boxes {
      .desc{
        margin-top: 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        color: #101010;
      }
      .name{
        font-weight: 700;
        font-size: 16px;
        color: #101010;
      }
      .job{
        margin: 0px;
        color:#414141;
        font-weight: 400;
        font-size: 16px;
      }

    }
    
  }
}

//testimonials ends

.get-started{
  height: 357px;
  margin: 0 auto;
  margin-bottom: 100px;
  h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #101010;
  }
  #down-sugg{
    margin-bottom: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #414141;
  }
  .app-down{
    width: 309px;
    margin: 0 auto;
    .app{
    border: 1px solid #DBE4F1;
    border-radius: 5px;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    img{
      margin: 19px 18px 17px 21px;
    }
    a{
      text-decoration: none;
      
    .dt{
      
    .down{
      margin: 19px 37px 2px 0px;
      font-weight: 600;
      font-size: 18px;
      color: #222D3D;
    }
    .try{
      font-size: 14px;
      font-weight: 400;
      color: #878B90;
    }
  }
}
  }
}
}

//footer starts

.footer{

  background-color: #F8FBFE;
  .first{
   margin-left: 120px;
   margin-right: 30px;
    img{
      margin-bottom: 40px;
    }
    p{
  
      font-size: 16px;
      line-height: 1.875;
      font-weight: 400;
      color: #414141;
    }
    i{
      font-size: 18px;
      color: #414141;
    }
    
  }
  .second{
    margin-right: 45px;
    p{
      margin-bottom: 40px;
      font-size: 14px;
      font-weight: 600;
      color:#101010;
      // margin-left: 2.5rem;
      
    }
    .menus{
      
      
      #m1{
 
        ul{
          li{
            list-style: none;
            a{
              text-decoration: none;
              color: #414141;
              line-height: 40px;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
      #m2{
        ul{
          li{
            list-style: none;
            a{
              text-decoration: none;
              color: #414141;
              line-height: 40px;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .third{
    #header{
      font-size: 14px;
      font-weight: 600;
      color:  #101010;
      margin-bottom:40px;
    }
    #email-num{
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      color: #414141;
    }
  }
}
//footer ends
@media screen and (max-width: 1200px) {
  .footer{
    
    .first{
     margin-left: 0px;
     margin-right: 0px;
    }
    .second{
      margin-right: 0px;
 
    }
    
  }
}

@media screen and (max-width: 600px) {
  .top-wrapper{
    .form-div{
      width: 100%;
      form{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%;
       
        .input-and-icon{
          width: 90%;
          input{
            width: 100%;
          }
          ::placeholder{
            font-size: 0.75rem;
          }
        }
        button{
          width: 90%;
        }
      }
      
    }
  }
  .get-started{
    height: auto;
    .app-down{
      width: 90%;
      .app{
        height: auto;
        width: 100%;
        margin: 0px;
        margin-bottom: 1rem;
        
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mid-part{
    .three-boxes{
      .box{
        margin-bottom: 2rem;
        border-right: none;
        border-bottom: 2px solid #fafafa;
      }
      .box:last-child{
        border-bottom: none;
        margin-bottom: none;
      }
    }
  }
  .for-dentist{
    .dentist-container{
      .cont-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
      }
      .cont-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
      }
      .cont-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
         
          .text-box-3 {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            #popf {
              margin-bottom: 10px;
              
            }
            h2 {
              margin-bottom: 30px;
              font-weight: 700;
              font-size: 32px;
              line-height: 1.313;
              color: #101010;
              
            }
            p {
              margin-bottom: 30px;
              font-weight: 400;
              font-size: 16px;
              line-height: 1.625;
              color: #414141;
              
            }
            a{
              text-decoration: none;
              #underline2 {
              color: #0069ff;
              font-size: 16px;
              font-weight: 500;
              text-decoration: underline #0069ff 2px;
              font-weight: bolder;
              text-underline-offset: 9px;
            }
          }
          }
          .img3 {
            margin-left: 0px;
            margin-right: 0px;
            img{
              width: 100%;
              height: auto;
              margin: 0 auto;
            }
          }
        
      }
    }
  }
  .testimonials{
    .two-boxes{
      .one{
        padding-bottom: 2rem;
        border-bottom: 2px solid #fafafa;
      }
    }
  }
  .footer{
    .first{
      margin-left: 0px;
      i{
        margin-bottom: 2rem;
      }
    }
    .second{
     
      p{
        margin-left: 0rem;
      }
      .menus{
        margin: 0px;
        padding: 0px;
        #m1{
         
          ul{
            margin: 0rem;
          padding: 0rem;
          }
        }
      }
    }
  }
  .testimonials{
    margin-bottom: 3rem;
    .two-boxes{
      width: 100%;
      .boxes{
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}